.section-third_cards {
  display: flex;
  grid-gap: 30px;
}

.card {
  box-shadow: 0px 20px 60px rgba(59, 61, 72, 0.1);
  width: 394px;
}

.card__head {
  display: flex;
  align-items: center;
  background: #EEF1F4;
}

.card__head_text {
  padding: 16px;
}

.card_picture {
  width: 120px;
  height: 120px;
  background: #02AEB0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1240px) {

  .card {
    width: 225px;
  }

  .card__content {
    padding: 8px;
    width: 209px;
  }

  .card img {
    width: 40px;
  }

  .card_picture {
    width: 69px;
    height: 69px;
  }
}

@media (max-width: 480px) {
  .card__content {
    padding: 20px 10px;
    width: 320px;
  }

  .card {
    width: 320px;
  }

  .card img {
    width: 45px;
  }

  .card_img {
    width: 88px;
    height: 88px;
  }
}