.sub-two {
  line-height: 40px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.sub-three {
  line-height: 22px;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}