@import './cards/review_card.css';
@import './cards/cards.css';
@import './slider/slider.css';

.section-third {
  background: #F6F6F6;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-third_content {
  width: 1240px;
  padding: 96px 0;
  display: grid;
  grid-template:
    'head'
    'mid'
    'reviews';
  grid-gap: 60px;
}

.section-third__head {
  grid-area: head;
}

.section-third__head h2::after {
  content: '';
  display: block;
  margin: 10px 0 48px 0;
  width: 80px;
  height: 2px;
  background-color: #02AEB0;
}

.section-third__middle {
  grid-area: mid;
  text-align: center;
  width: 820px;
  margin: 0 auto;
}

.section-third__reviews_headline::after {
  content: '';
  display: inline-block;
  width: 80px;
  height: 2px;
  background-color: #02AEB0;
}

.section-third__reviews {
  grid-area: reviews;
  display: grid;
  grid-gap: 28px;
}

@media (max-width: 1240px) {

  .section-third_cards {
    width: 480px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-third__middle {
    width: 480px;
    margin: 0;
  }

  .reviews {
    width: 480px;
  }

  .reviews h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 126.5%;
  }
}

@media (max-width: 480px) {

  .section-third_cards {
    width: 320px;
  
  }

  .section-third_head {
    width: 290px;
  }

  .section-third_content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-third__middle {
    width: 289px;
  }

  .reviews {
    width: 320px;
  }

  .reviews h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
  }
}