.swiper {
  width: 1240px;
}

.swiper .swiper-pagination {
  position: static;
  margin-top: 40px;
}

.swiper .swiper-pagination-bullet {
  border: 3px solid #D1D7DC;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: none;
  opacity: 100%;
}

.swiper .swiper-pagination-bullet-active {
  background: #02AEB0;
  border: 1px solid #02AEB0;
}

@media (max-width: 1240px) {
  .swiper {
    width: 480px;
  }
}

@media (max-width: 480px) {
  .swiper {
    width: 320px;
  }
}