
.wrapper {
  display: grid;
  grid-gap: 48px;
  width: 1242px;
}

.track {
  height: 460px;

  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  grid-gap: 30px;
  height: 100%;
  position: relative;
  transition: transform 500ms ease-in;
  left: 394px;
}

.review-card {
  width: 394px;
  height: 460px;
  background-color: #FAFAFA;
  box-shadow: 0px 20px 60px rgba(59, 61, 72, 0.1);
}

.review-card img {
  width: 120px;
}

.review-card_head {
  display: flex;
  align-items: center;
  background-color: #EEF1F4
}

.review-card_head_text {
  margin-left: 20px;
}

.review-card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 300px;
  padding: 24px;
}

.review-card a {
  text-decoration: none;
  color: #A2B6C8;
  font-size: 18px;
}

.map {
  display: grid;
  grid-template-areas: 'btn btn btn';
  grid-gap: 42px;

  width: 144px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 20px;
  height: 20px;

  border: 3px solid #D1D7DC;
  border-radius: 50%;

  cursor: pointer;
}

.btn_active {
  background: #3951D2;
  border: 1px solid #3951D2;
}